[MASTER]
persistent=no

[REPORTS]
output-format=text

[MESSAGES CONTROL]
disable=import-error,no-name-in-module,too-few-public-methods,missing-docstring,too-many-public-methods

[FORMAT]
max-line-length=120

[BASIC]
method-rgx=[a-z_][a-z0-9_]*$
